{% extends "main_layout.html" %}

{% load django_bootstrap5 %}

<!-- Page title -->
{% block metaTitle %}Manage Categories{% endblock%}

<!-- main content -->
{% block bodyContent %}
<style>
    a.delete_category { color:red; }
    a.edit_category { color:green; }
</style>
<div class="container">
    {% include 'partials/user_nav.html' %}
    <div class="row mt-3">
      <div class="col-8">
        <div class="card">
            <h5 class="card-header">Manage categories</h5>
            <div class="card-body">
                <table class="table table-borderless table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col" style="width:100px">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for category in object_list %}
                        <tr id="tr_{{ category.id }}">
                          <td>{{ category.name }}</td>
                            <td>
                                <a href="{% url 'edit_category' category.id %}" title="Edit Category" class="edit_category"><i class="fas fa-edit"></i></a> &nbsp;
                                <a href="{% url 'delete_category' category.id %}" title="Delete item" class="delete_category"><i class="fas fa-trash"></i></a>
                            </td>

                        </tr>
                    {% empty %}
                        <tr><td colspan="4">You haven't added any items to your list yet.</td></tr>
                    {% endfor %}
                    </tbody>
                </table>            
            </div>
        </div>
    </div>
    <div class="col-4">

        <div class="card mt-3">
            <div class="card-header">
                    <h5>Add Category</h5>
            </div>
            <div class="card-body">
            </div> <!-- /.card-body -->
        </div> <!-- /.card -->

      </div>
  </div>

</div>


  <script>
  $(function() {
    $(".complete_item").on('click',function() {
        //var sure = confirm("Are you sure?");
        var sure = true;
        if(sure) {
            url = $(this).data("url");
            itemid = $(this).data("itemid");
            checked = $(this).is(":checked");
            // Send an Ajax request
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    completed: checked
                },
                // handle a successful response
                success: function(json) {
                    if(json.success == true) {
                        $tr = $('#tr_'+itemid);
                        if(checked == true) {
                            $tr.addClass('completed')
                        } else {
                            $tr.removeClass('completed')
                        }
                    }
                    //console.log(json); // log the returned json to the console
                },
                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    alert("Sorry but there was an error: "+errmsg);
                    //$('#results').html("<div class='alert-box alert radius' data-alert>"+errmsg+</div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // add info about the error to the console
                }
            });
        }
        return sure;
    });

    $(".delete_item").on('click',function() {
        var sure = confirm("Are you sure?");
        if(sure) {
            url = $(this).data("url");
            itemid = $(this).data("itemid");
            // Send an Ajax request
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                // handle a successful response
                success: function(json) {
                    if(json.success == true) {
                        $tr = $('#tr_'+itemid);
                        $tr.hide();
                    }
                },
                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    alert("Sorry but there was an error: "+errmsg);
                    //$('#results').html("<div class='alert-box alert radius' data-alert>"+errmsg+</div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // add info about the error to the console
                }
            });
        }
        return sure;
    });
  });

  </script>
{% endblock %}
